.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: large;
}
.searchField {
    flex-direction: center;
    border-radius: 5px;
    border-style: solid;
    width: 400px;
    height: 60px;
}

#searchButton {
    background-color: darkslategray;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 50px;
}